<div id="chat">
    <div id="conversation" *ngIf="conversation!=null && conversation.length!=0">
        <div class="message" *ngFor="let message of conversation">
            <div class="sender">
                <span class="dot"></span>
                {{message.sender}}:
            </div> 
            {{message.message}}
        </div>
    </div>
    
    <div *ngIf="writing" id="writing">YodaBot is writing...</div>
    <div>
        <form #f="ngForm" (ngSubmit)="send()" id="form">
            <input id="input_user" [(ngModel)]="message" name="message" type="text" placeholder="" required [disabled]="writing" autocomplete="off">
            <button type="submit" [disabled]="message=='' || message==null">Send!</button>
        </form>
    </div>
</div>